@media (min-width: 700px) and (max-width: 1210px)  {
.page {
    margin-top: 30px;
    width: 890px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    
}
#menu {
     margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 650px;
    height: 80px;
    border-radius: 12px;
    margin-top: 15px;
}
div.button {
    padding-top: 80px;
    
    width: 870px;

    text-align: center;

    
    
}

      .scroll-y {
        max-height: 500px;
        overflow: auto;
        overflow-x: hidden;
        overflow-y: auto;
        margin-bottom: 10px;
        color: green;
        width: 600px
      }
      
      .scroll-y::-webkit-scrollbar {
    width: 12px;
}
 



body {
     height: 100%;
}
#login {
    width: 38%;
    min-height: 350px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    margin-top: 10%;
    padding: 20px;
    
}
span.login {
    font-size: 25px;
}
td.center {
    text-align: center;
}
#main {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 300px;
    height: 50px;
    border-radius: 20px;
    margin-top: 15px;
    
}
div.menu {
    margin: 10px;
    float: left;
    width: 120px;
}

div.changePassword {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 600px;
    height: 500px;
    border-radius: 20px;
    margin-top: 50px;
    padding-top: 30px;
}
div.addTitle {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 600px;
    height: 500px;
    border-radius: 20px;
    margin-top: 50px;
    padding-top: 30px;
}
div.loadStatistic {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 600px;
    
    border-radius: 20px;
    margin-top: 50px;
    padding-top: 30px;
}
table.changePassword {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 19px;
    
}

td.center {
    text-align: center;
}
tr.statistic {
    max-height: 10px;
    
    
}

div.title {
    
    font-size: 55px;
    font-weight: bold;
}

button.button-newGame {
    width: 400px;
    height: 80px;
    border-radius: 25px;
    font-size: 25px;
    font-weight: bold;
}
div.button-selectCategory {
    width: 250px;
    height: 65px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    
    
}
div.button-selectCategory-1 {
    width: 500px;
    height: 65px;
    font-size: 25px;
}


div.center-title {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding-top: 60px;
    text-align: center;
   
}
span.message {
    font-size: 35px;
    font-weight: bold;
    
}
div.char {
    
    width: 45px;
    height: 50px;
    margin-right: 10px;
    margin-top: 30px;
    float: left;
    text-align: center;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
   
    
    
}
div.char-select {
    width: 45px;
    height: 50px;
    margin-right: 10px;
    margin-top: 30px;
    padding-top: -50px;
    float: left;
    text-align: center;
    border-radius: 10px;
    font-size: 33px;
    font-weight: bold;
}
div.char-select2 {
    width: 45px;
    height: 50px;
    margin-right: 10px;
    margin-top: 30px;
    padding-top: -50px;
    float: left;
    text-align: center;
    border-radius: 10px;
    font-size: 33px;
    font-weight: bold;
}
div.empty {
    float: left;
    width: 45px;
    padding: 5px;
    height: 50px;
    margin-right: 10px;
    margin-top: 30px;
}
div.space {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 6px;
    cursor: pointer;
    
}
.font-verysmall {
    font-size: 10px;
}
.font-small {
    font-size: 12px;
}

.font-normal {
    font-size: 19px;
}
.font-large {
    font-size: 20px;
}
div.down {

    width: 100%;
    height: 200px;

    margin-left: auto;
    margin-right: auto;

}
div.punkt {
    padding-top: 17px;
    float: left;
    width: 31%;

}
div.button-div {
    width: 65%;

    float: left;
    padding-top: 10px;
    

}
button.button-bye {
    margin-left: 4px;
    width: 150px;
    margin: 8px;
    height: 70px;
    
    
}
button.button-one {
   
	font-size:13px;
	font-weight:bold;
	padding:8px 5px;
	
}
button.button-disable {
   
	font-size:13px;
	font-weight:bold;
	padding:8px 5px;
}


button.button-two {
	font-size:13px;
	font-weight:bold;
	padding:8px 5px;
}

button.button-four {
	font-size:13px;
	font-weight:bold;
	padding:8px 5px;
}

button.button-five {
        font-size:13px;
	font-weight:bold;
	padding:8px 5px;
}

button.button-three {
	font-size:13px;
	font-weight:bold;
	padding:8px 5px;
}

button.button-word-three {
	
	font-size:18px;
        font-weight: bold;
	
}

#char-one {
    width: 700px;
    height: 210px;
    position: fixed;
    bottom: 190px;
    right: 100px;
    
    
}
#char-four {
    width: 600px;
    height: 89px;
    position: fixed;
    bottom: 190px;
    right: 100px;
    
    
}
#char-two {
    width: 600px;
    height: 120px;
    position: fixed;
    bottom: 190px;
    right: 100px;
}

#char-three {
    width: 700px;
    height: 200px;
    position: fixed;
    bottom: 190px;
    right: 100px;
}

div.winner {
    width: 870px;
    height: 310px;
    position: fixed;
    bottom: 15%;
    right: 2%;
    
    font-size: 60px;
    
}
      div.new-game {
    border-radius: 15px;
    width: 300px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}  
div.gameOver {
    width: 870px;
    height: 310px;
    position: fixed;
    bottom: 15%;
    right: 2%;
    text-align: center;
    font-size: 60px;
}
}