@media (min-width: 360px) and (max-width: 700px)  {
.page {
    margin-top: 30px;
    width: 350px;
    min-height: 900px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    
}
#menu {
     margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 350px;
    height: 65px;
    border-radius: 12px;
    margin-top: 15px;
}
div.button {
    
   padding-top: 100px;
    
    

    text-align: center;
    
    
}

      .scroll-y {
        max-height: 500px;
        overflow: auto;
        overflow-x: hidden;
        overflow-y: auto;
        margin-bottom: 10px;
        color: green;
      }
      
      .scroll-y::-webkit-scrollbar {
    width: 12px;
}
 



body {
     height: 100%;
}
#login {
    width: 38%;
    min-height: 350px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    margin-top: 10%;
    padding: 20px;
    
}
span.login {
    font-size: 25px;
}
td.center {
    text-align: center;
}
#main {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 300px;
    height: 50px;
    border-radius: 20px;
    margin-top: 15px;
    
}
div.menu {
    margin: 10px;
    float: left;
    width: 120px;
}

div.changePassword {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 600px;
    height: 500px;
    border-radius: 20px;
    margin-top: 50px;
    padding-top: 30px;
}
div.addTitle {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 600px;
    height: 500px;
    border-radius: 20px;
    margin-top: 50px;
    padding-top: 30px;
}
div.loadStatistic {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 600px;
    
    border-radius: 20px;
    margin-top: 50px;
    padding-top: 30px;
}
table.changePassword {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 19px;
    
}

td.center {
    text-align: center;
}
tr.statistic {
    max-height: 10px;
    
    
}

div.title {
    
    font-size: 30px;
    font-weight: bold;
}

button.button-newGame {
    width: 280px;
    height: 100px;
    border-radius: 25px;
    font-size: 21px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}
div.button-selectCategory {
    width: 220px;
    height: 90px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    
    
}
div.button-selectCategory-1 {
    width: 280px;
    height: 90px;
    font-size: 18px;
}


div.center-title {
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    padding-top: 60px;
    text-align: center;
   
}
span.message {
    font-size: 20px;
    font-weight: bold;
    
}

div.space {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 6px;
    cursor: pointer;
    
}
.font-verysmall {
    font-size: 12px;
}
.font-small {
    font-size: 15px;
}

.font-normal {
    font-size: 19px;
}
.font-large {
    font-size: 22px;
}
div.punkt {
    padding-top: 17px;
    float: left;
    width: 80%;
    clear: both;

}
div.button-div {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 280px;
  padding-left: 40px;
}

button.button-bye {
  flex: 1 0 110px;
  padding: 5px 5px;
  min-height: 80px;
  max-width: 120px; 
}
button.button-one {
   
	font-size: 12px;
	font-weight:bold;
        
	
       
	
}
button.button-disable {
   
	font-size:13px;
	font-weight:bold;
	
}


button.button-two {
	font-size: 12px;
	font-weight:bold;
	
}

button.button-four {
	font-size: 12px;
	font-weight:bold;
	
        
}

button.button-five {
      font-size: 12px;
	font-weight:bold;
        max-width: 260px;
	
}

button.button-three {
	font-size: 12px;
	font-weight:bold;
	
}

button.button-word-three {
	
	font-size: 12px;
        font-weight: bold;
	
}

#char-one {
    width: 300px;
    height: 410px;
    position: fixed;
    bottom: 120px;
    right: 50px;
    
    
}
#char-four {
    width: 300px;
    height: 130px;
    position: fixed;
    bottom: 120px;
    right: 50px;
    
    
}
#char-two {
    width: 300px;
    height: 120px;
    position: fixed;
    bottom: 120px;
    right: 50px;
}

#char-three {
    width: 300px;
    height: 200px;
    position: fixed;
    bottom: 120px;
    right: 50px;
}
div.char {
    
    width: 30px;
    height: 37px;
    margin-right: 10px;
    margin-top: 10px;
    float: left;
    text-align: center;
    border-radius: 7px;
    font-size: 30px;
    font-weight: bold;
   
    
    
}
div.empty {
    float: left;
    width: 30px;
    padding: 5px;
    height: 37px;
    margin-right: 10px;
    margin-top: 10px;
}
#wordText {
    height: 100px;
}
div.char-select {
    width: 30px;
    height: 37px;
    margin-right: 10px;
    margin-top: 10px;
    padding-top: -50px;
    float: left;
    text-align: center;
    border-radius: 7px;
    font-size: 25px;
    font-weight: bold;
}
div.char-select2 {
    width: 30px;
    height: 37px;
    margin-right: 10px;
    margin-top: 10px;
    padding-top: -50px;
    float: left;
    text-align: center;
    border-radius: 7px;
    font-size: 25px;
    font-weight: bold;
}
div.winner {
    width: 370px;
    height: 500px;
    position: fixed;
    bottom: 15%;
    right: 2%;
    
    font-size: 60px;
    
}
      div.new-game {
    border-radius: 15px;
    width: 300px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}  
div.gameOver {
    width: 370px;
    height: 500px;
    position: fixed;
    bottom: 15%;
    right: 2%;
    text-align: center;
    font-size: 60px;
}
}