@media (min-width: 1410px)  { 
.page {
    margin-top: 30px;
    width: 1700px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    
    
}
#menu {
     margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 1000px;
    height: 80px;
    border-radius: 12px;
    margin-top: 15px;
}
div.button {
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 89%;

    text-align: center;
   
    
    
    
}
div.punkt {
    padding-top: 17px;
    float: left;
    width: 22%;

}
div.down {

    width: 100%;
    height: 120px;

    margin-left: auto;
    margin-right: auto;

}
#newGame {
    padding-top: 300px;
}
div.page3 {
    width: 1200px;
    
}

      .scroll-y {
        max-height: 500px;
        overflow: auto;
        overflow-x: hidden;
        overflow-y: auto;
        margin-bottom: 10px;
        color: green;
      }
      
      .scroll-y::-webkit-scrollbar {
    width: 12px;
}
 




body {
     height: 100%;
}
#login {
    width: 38%;
    min-height: 350px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    margin-top: 10%;
    padding: 20px;
    
}
span.login {
    font-size: 25px;
}
td.center {
    text-align: center;
}
#main {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 580px;
    height: 50px;
    border-radius: 20px;
    margin-top: 15px;
    
}
div.menu {
    margin: 10px;
    float: left;
    width: 120px;
}

div.changePassword {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 700px;
    height: 500px;
    border-radius: 20px;
    margin-top: 50px;
    padding-top: 30px;
}
div.addTitle {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 700px;
    height: 500px;
    border-radius: 20px;
    margin-top: 50px;
    padding-top: 30px;
}
div.loadStatistic {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 1000px;
    
    border-radius: 20px;
    margin-top: 50px;
    padding-top: 30px;
}
table.changePassword {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 19px;
    
}

td.center {
    text-align: center;
}
tr.statistic {
    max-height: 10px;
    
    
}

div.title {
    
    font-size: 55px;
    font-weight: bold;
}

button.button-newGame {
    width: 800px;
    height: 200px;
    border-radius: 25px;
    font-size: 45px;
    font-weight: bold;
}
div.button-selectCategory {
    
    width: 400px;
    height: 55px;
    max-height: 55px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
  
    
    
}
div.button-selectCategory-1 {
    width: 700px;
    height: 70px;
    font-size: 25px;
}


div.center-title {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding-top: 60px;
    text-align: center;
   
}
span.message {
    font-size: 35px;
    font-weight: bold;
    
}

div.space {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 6px;
    cursor: pointer;
    
}
.font-verysmall {
    font-size: 13px;
}
.font-small {
    font-size: 16px;
}

.font-normal {
    font-size: 19px;
}
.font-large {
    font-size: 24px;
}



#char-one {
    width: 900px;
    height: 130px;
    position: fixed;
    bottom: 150px;
    right: 500px;
    
    
}
#char-four {
    width: 600px;
    height: 79px;
    position: fixed;
    bottom: 150px;
    right: 500px;
    
    
}
#char-two {
    width: 600px;
    height: 79px;
    position: fixed;
    bottom: 150px;
    right: 400px;
}

#char-three {
    width: 870px;
    height: 200px;
    position: fixed;
    bottom: 150px;
    right: 400px;
}
div.char {
    
    width: 45px;
    height: 50px;
    margin-right: 10px;
    margin-top: 30px;
    float: left;
    text-align: center;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
   
    
    
}
div.char-select {
    width: 45px;
    height: 50px;
    margin-right: 10px;
    margin-top: 30px;
    padding-top: -50px;
    float: left;
    text-align: center;
    border-radius: 10px;
    font-size: 33px;
    font-weight: bold;
}
div.char-select2 {
    width: 45px;
    height: 50px;
    margin-right: 10px;
    margin-top: 30px;
    padding-top: -50px;
    float: left;
    text-align: center;
    border-radius: 10px;
    font-size: 33px;
    font-weight: bold;
}
div.empty {
    float: left;
    width: 45px;
    padding: 5px;
    height: 50px;
    margin-right: 10px;
    margin-top: 30px;
}
#wordText {
    width: 850px;
    height: 100px;
}
div.winner {
    width: 870px;
    height: 310px;
    position: fixed;
    bottom: 30%;
    right: 27%;
    
    font-size: 60px;
    
}
div.gameOver {
    width: 870px;
    height: 310px;
    position: fixed;
    bottom: 30%;
    right: 27%;
    text-align: center;
    font-size: 60px;
}
.categories-all {
    width: 700px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size:35px;
}



div.new-game {
    border-radius: 15px;
    width: 300px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

div.button-div {
    width: 70%;

    float: left;
    padding-top: 30px;
    

}
button.button-bye {
    margin-left: 7px;
    
    
}

button.button-one {
   
	font-size:17px;
	font-weight:bold;
	padding:13px 10px;
	
}
button.button-disable {
   
	font-size:17px;
	font-weight:bold;
	padding:13px 10px;
}


button.button-two {
	font-size:17px;
	font-weight:bold;
	padding:13px 10px;
}

button.button-four {
	font-size:17px;
	font-weight:bold;
	padding:13px 10px;
}

button.button-five {
        font-size:17px;
	font-weight:bold;
	padding:13px 10px;
}

button.button-three {
	font-size:17px;
	font-weight:bold;
	padding:13px 10px;
}

button.button-word-three {
	
	font-size:21px;
        font-weight: bold;
	
}


        
}